*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.wrapper {
    position: relative;
}
.img-section img{
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    position: absolute;
}
.main-container {
    display: grid;
    justify-content: center;
    max-width: 30vw;
    top: 100px;
    left: 500px;
    position: absolute;
    z-index: 1;
}
.container {
    width: 30vw;
    background-color: rgb(57, 55, 55);
    margin-inline: auto;
    padding: 5px;
}
.input-list {
    border: 0.5px solid white;
    margin-inline: 15px;
}
input {
    width: 100%;
    min-height: 20px;
    border: none;
    background: transparent;
    color: white;
}
::placeholder {
    color: white;
}
