*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.img-section {
    position: relative;
}
.img-section img{
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}
.input-list {
    width: 60vw;
    background-color: gray;
    margin-inline: auto;
}